/*https://coolors.co/b4bbcf-663415-4e2904-16501f-e8d9c5 */


body {
    background-color: #E8D9C5;
    font-family: Arial;
    margin: auto;
}

h1 {
    color: #663415;
    font-size: 500%;
    text-align: center;
}







