/*https://coolors.co/b4bbcf-663415-4e2904-16501f-e8d9c5 */


body {
    background-color: #E8D9C5;
}

#title {
    color: #663415;
    font-size: 900%;
    font-weight: 1;
    margin-top: 2%;
    padding-left: 15%;
    line-height: .9;
    font-family: "Manufacturing Consent", serif;
    float: left;
}

h1 {
    color: #663415;
    font-size: 500%;
    padding-left: 20%;
}

#headshot {
    border-radius: 50%;
    border-color: #663415;
    border-width: 4px;
    border-style: solid;
}

#headshot-container {
    display: block;
    float: right;
    padding-right: 5%;
    padding-top: 2%;
    text-align: center;
}

#about-me-button {
    border-radius: 50px;
    border-color: #663415;
    border-width: 3px;
    width: 250px;
    height: 40px;
    background-color: #E8D9C5;
    color: #663415;
    font-size: 120%;
    text-decoration: none;
    font-family: "Arial", serif;
}