/*https://coolors.co/b4bbcf-663415-4e2904-16501f-e8d9c5 */


body {
    background-color: white;
    font-family:Arial;
    overflow-y: auto;
    border-top: 30px solid rgb(239, 245, 239);
    border-bottom: 20px solid rgb(239, 245, 239);
    margin: auto;
}

