/*https://coolors.co/b4bbcf-663415-4e2904-16501f-e8d9c5 */



#article-menu-boxes:hover, #archive-articles:hover {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

#index-about-me-button:hover, #articles-about-me-button:hover, #archive-about-me-button:hover {
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}


#commentary-button {
    width: fit-content;
    height: 30px;
    background-color: #4e9364;
    border-radius: 25px;
}

#commentary-link {
    color: white;
    font-weight:500;
}